@charset "utf-8";
/* CSS Document 2014-12-15 姚秀萍*/

/*---系统首页---*/
.all{ min-width:850px;margin:10px 0 10px 0;width:100%;_width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 850? '850px' : 'auto');  }
.index_search{height:30px;font-size:15px; color:#076ead}
.index_search .text{width:250px;color:#888;}
.maring_top10{ padding-top:10px;}
.index_box{ border:1px solid #c6d0dc; margin-bottom:10px;width:99.8%; _display:inline;}
.index_box h3{width:98%; height:35px; line-height:35px; border-bottom:1px solid #c6d0dc; background:#f0f7fd; font-size:14px; color:#555; padding:0 1%;}
.index_box h3 a{float:right;color:#aaa;font-size:12px; font-family:Arial;display:inline-block}
.index_box h3 a:hover{ text-decoration:underline;color:#62b6ed}
.shebeiZT{width:98%; margin:10px 1%; height:160px; line-height:30px;overflow:hidden;overflow-y:auto;}
.noM{margin:0px;height:180px;}
.hauto{ height:330px;overflow:hidden}
.shebeiZT table thead{ background:#f9fcff}
.shebeiZT table th,.shebeiZT table td{ height:30px; line-height:30px; padding:0px 2px 0px 10px; text-align:center}
.shebeiZT font{display:block; background:url(../images/public/icon_port.png) no-repeat;width:35px; height:26px; text-align:center;line-height:26px;margin-top:5px;font-size:10px;font-family:Arial; color:#fff;}
.shebeiZT font.e1{ background-position:0px 0px}
.shebeiZT font.e2{ background-position:0px -58px}
.shebeiXX{width:30%; float:left; padding:0 30px; margin:5px 0;}
.shebeiXX span{ font-weight:bold;}
.shebeiXX em{ font-style:normal; color:#fe4300; font-weight:bold; padding:0 5px;}

.tongjiBB{ margin:15px 10px 10px 10px; }
.tongjiQXT,.tongjiZZT,.tongjiBZT{width:33.3%; float:left; min-width:200px;_width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 200? '200px' : 'auto'); }
.tongjiBB .shijian{ height:28px; line-height:28px; }
.tongjiBB .shijian span{ display:inline-block; float:left; }
.tongjiBB .shijian a{ width:53px; height:26px; float:left; border:1px solid #d3d3d3; line-height:26px; margin:0 3px; text-align:center; background:#f9f9f9;}
.tongjiBB .shijian a.on{ width:51px; height:24px; float:left; border:2px solid #4c9ddc;line-height:24px; color:#4c9ddc; background:url(../images/public/time_btn_bg.gif) right bottom no-repeat;}
.tongjiBB .chajian{ padding:0px 0; overflow:hidden; }

.xitongZY{ margin:10px;}
.xtzy_box{ width:33%; height:170px; float:left; text-align:center; min-width:175px;}
.xtJKZ,.xtCPULYL,.xtNCLYL,.xtCCLYL,.xtXTLJS{ width:33%; height:170px; float:left; text-align:center; min-width:175px;}
.xitongZY h5{ text-align:center; font-size:13px; padding:5px 0 0px; }




/*---报表中心样式---*/
.data_chart{ background:#fafafa;marging-top:10px; }
.data_chart ul{ background:#fafafa; overflow:hidden;zoom:1; padding:10px 0; }
.data_chart ul li{ margin:10px 20px 10px 20px; float:left; width:220px; height:190px;  }
.data_chart ul li a{ text-align:center; display:block; line-height:40px; cursor:pointer}
.data_chart ul li a:hover{color:#555;}
.data_chart ul li a img{ width:200px; height:135px; border:1px solid #e9e9e9; padding:10px; background:#FFF;}
.data_chart ul li a img:hover{ border:1px solid #96cbf4; color:#555;}
.kw_box{ padding:10px 0 10px 0; height:25px; }
.kw_box ul {overflow:hidden;zoom:1;}
.kw_box ul li{ display:block; width:280px; height:40px; line-height:40px; float:left; }
.kw_box ul li label{ width:70px; text-align:right; display:inline-block; padding:0;}
.kw_box ul li input:focus{ border:1px solid #71b4e9;}
.kw_box .btn{ height:25px; margin:8px 0 0 0; background:#4c9ddc; border:1px solid #4191ce; float:left; }
.kw_box .text{width:170px;}
.date_plug{ background-image: url(../images/public/icon_date.png) ;background-position:152px center; background-repeat: no-repeat; }
.data_chart_pic{ padding:5px; border:1px solid #ddd; margin:10px 0 0 0; }
.date_pos{background-position: 132px center;}
.chart canvas{ cursor:pointer}
#chart_bar1 canvas{cursor:move}
.keyword_box .date_plug{background-position:147px center;} 

/*************多个表单结合*************/
.openWin h1{font-weight:bold;font-size:14px;padding-left:5px;border-bottom:1px solid #d7d7d7;padding-bottom:10px;padding-top:10px;}
.openWin h3{padding-top:10px;font-weight:bold;}
.openWin .jbxx{margin:10px 0px;}
.openWin select{width:210px;}
.sj{padding-left:40px;}
.jbxx font.red{margin-right:3px;}
.jbxx font.gray{margin-left:20px;}
/*******罗海燕写的CSS 网络设置>网口配置>物理设备********/
.network_wlsb h3{
	padding-left: 30px;
}
.network_wlsb ul{
	overflow: hidden;
}
.network_wlsb li{
	width: 23.3%;
	max-width:250px;
	min-width:200px;
	height:210px;
	border: 1px solid #E0E0E0;
	float:left;
	margin: 10px 0.8% 10px 0.8%;
	overflow: hidden;
}

.network_wlsb li p{
	color: #555;
	margin-bottom: 10px;
	margin-left: 10px;
}
.network_wlsb li .title_img{
	position: relative;
	height:35px;
	margin-left:0;
	border-bottom:1px solid #EFEFEF;
	background-color: #f4faff;
	line-height: 35px;
	font-size: 15px;
	color: #555;	
	padding-left:10px;
}
.network_wlsb li .title_img span{
	display:inline-block;
	width:16px;
	height:16px;
}
.network_wlsb li .title_img span.bt_edit{
	position: absolute;
	top:10px;
	right:5px;
	cursor:pointer;
}
.network_wlsb li .title_img .title_img_write{
	position: absolute;
	top:0;
	right:0;
	cursor:pointer;
}
.network_open{
	height:35px;
	line-height: 35px;
}
.network_open input{
	vertical-align: middle;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 5px;
}


/******设备状态********/
.mklist{line-height:30px;width:100%; height:100%; display:table}
.mklist ul{display:table-row;width:50%;min-width:250px;_width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 250? '250px' : 'auto'); height:120px;}
.mklist ul li{vertical-align:middle;display:table-column;width:100px; height:80px; text-align:center;color:#555; border-radius:5px;float:left; margin:10px 2% 10px 2%}
.mklist ul li span{width:32px; height:32px;margin:12px 34px 0px ; background-image:url(../images/public/mk_icon.png); background-repeat:no-repeat;display:block}
.mklist span.mk1{ background-position:0px 0px}
.mklist span.mk2{ background-position:0px -33px}
.mklist span.mk3{ background-position:0px -66px}
.mklist span.mk4{ background-position:0px -99px}
.mklist .gray{ background-color:#e9e9e9;}
.mklist .gree{ background-color:#daf8d6;}
.mklist .red{ background-color:#f8c8c8;}
.mklist .yellow{ background-color:#fae8b7;}
.mklist span{ display:inline-block;margin:0px 10px;width:10px; height:10px;}
.mklist p{width:100%}
.index_box h3 span{ display:inline-block;float:left}
.lgout,.restart,.resysten{ width:16px; height:16px;margin:10px 10px 0px 0px;background-image:url(../images/public/icon_action.png);_background-image:url(../images/public/icon_action_8.png);  background-repeat:no-repeat;}
.resysten{background-position:0px -104px}
.resysten:hover{background-position:0px -172px}
.restart{ background-position:0px -127px}
.restart:hover{background-position:0px -195px}
.lgout{ background-position:0px -150px}
.lgout:hover{background-position:0px -218px}

/******主页******/
.report_search{float:left;}
.reportall .report_search{width:100%}
.report_search label{float:left; line-height:24px;padding:3px 0px 0px 8px;}
.reportall .report_search label{float:left; line-height:24px;padding:3px 5px 0px 10px;}
.xlk{float:left;height:22px;border:1px solid #a4c9e6; border-radius:3px; background:#ecf5fa;width:110px; }
.xlk span{display:inline-block;float:left; }
.xlk span.seltime{padding:0px 3px;line-height:22px;height:22px;width:86px;border-right:1px solid #a4c9e6;font-weight:bold;color:#4a9cdc }
.xlk span.xlk-icon{width:17px;height:22px;}
.xlk span.xlk-icon:hover{ background-color:#cfe7f4}
.xlk span.arrow-down{ position:relative;width:0; height:0;margin:8px 4px; border-left:4px solid transparent; border-right:4px solid transparent;border-top:4px solid #3a9edd;}
.xlsj{position:relative; clear:both; top:0px;border:1px solid #a4c9e6; border-radius:3px; background:#ecf5fa;width:110px; z-index:99999999;}
.fs{left:90px;}
.sjt{left:90px}
.xlsj ul li{ border-bottom:1px solid #d6e7f5;padding:0px 3px;}
.xlsj ul li span{width:100%; display:inline-block;height:22px; line-height:22px;}
.xlsj ul li:hover{ background-color:#cfe7f4; border-bottom:1px solid #acdbf6;}
.chart{height:300px;width:100%;_width:95%; position:static;margin-top:0px;}
.report_search input.text,.report_search select.text{width:100px;color:#666;}
.report_search select{float:left;margin-top:5px}
.report_search input{padding:0px 2px;}
.report_search input.date_pos{background-position:136px center;width:150px}
.report_search input.btn{padding:0px 10px;margin-left:10px;}
.reportall .report_search{ position:static;}
.report_s{margin-top:5px;}
.report_s input{margin-top:3px;}
.wie6{_width:48.5%}
/******CSS edit 2015-07-27 姚秀萍  实名制********/
.c_l{width:198px; position:absolute;top:10px; left:0px; bottom:10px; overflow:auto;border: 1px solid #C6D0DA;}
.gj{height:30px;width:100%; text-align:right;margin-right:5px; line-height:30px;border-bottom: 1px solid #C6D0DA;}
.gj a{margin-right:5px;color:#0770b2;}
.ztree{ position:absolute; top:31px;padding:5px;width:188px; bottom:0px;left:0px; }
.c_r{position:absolute;top:10px; left:208px; bottom:2px;right:0px; overflow:hidden;min-width:600px;_width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 600? '600px' : 'auto');}
.c_r iframe{width:100%;height:99%}
.bjbt{height:30px;line-height:30px;border: 1px solid #C6D0DA;}
.bjbt span{margin-left:5px; display:inline-block;float:left;font-weight:bold}
.bjbt span.class_mod{margin-right:5px;color:#0770b2; display:inline-block;float:right;font-weight:normal; cursor:pointer}
.bjxq{border: 1px solid #C6D0DA;border-top:none;padding:5px;}
.btn_box .aearch_box .text{color:#666}
.ztree .line{border-top:none;}
.gj a:hover,.bjbt span.class_mod:hover{color:#555; text-decoration:underline}
.pos{right:200px;}
/*************查询统计*************/
.list-content .jbxx{margin:8px 3px;}
.list-content h1{font-size:15px;padding-left:5px;padding-top:10px;}
.jbxx .index_box{margin-top:10px;}
.list-content .openWin h3{ font-weight:normal}
.cxtjall{ position:absolute;left:0px ;right:0px; top:0px; bottom:0px; *height:97.5%;min-width:850px;_width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 850? '850px' : 'auto');*width:98%;*min-width:auto;}
.cxtjall h1{padding-top:30px;}
/******列表自定义刷新******/
.btn_list label{float:left;margin-top:3px;}
.xlklist{float:left;height:22px;border:1px solid #a4c9e6; border-radius:3px; background:#ecf5fa;width:88px;}
.xlklist span{display:inline-block;float:left; }
.xlklist span.seltime{padding:0px 3px;line-height:22px;height:22px;width:64px;border-right:1px solid #a4c9e6;font-weight:bold }
.xlklist span.xlk-icon{width:17px;height:22px;}
.xlklist span.xlk-icon:hover{ background-color:#cfe7f4}
.xlklist span.arrow-down{ position:relative;width:0; height:0;margin:8px 4px; border-left:4px solid transparent; border-right:4px solid transparent;border-top:4px solid #3a9edd;}
.xlsjlist{position:absolute; top:35px;left:127px;border:1px solid #a4c9e6; border-radius:3px; background:#ecf5fa;width:88px; z-index:999}
.xlsjlist ul li{height:22px; line-height:22px; border-bottom:1px solid #d6e7f5;padding:0px 3px;}
.xlsjlist ul li:hover{ background-color:#cfe7f4; border-bottom:1px solid #acdbf6;}
.ref{padding:3px 8px;*+padding:0px 2px;margin-left:8px; cursor:pointer;float:left}
.c_o{background-color:#e8691a; background-repeat:no-repeat;border:1px solid #d35a0f;}
.ie-hack {
    *+min-width: auto;
}
